<mat-sidenav-container>
  <mat-sidenav mode="side" opened="true">
    <div class="p-6">
      <h2 class="text-lg text-gray-900">Categories</h2>

      <mat-nav-list>
        @for (cat of categories(); track cat) {
        <mat-list-item
          [activated]="cat === store.category()"
          class="my-2"
          [routerLink]="['/products', cat]"
        >
          <span
            matListItemTitle
            class="font-medium"
            [class]="cat === store.category() ? '!text-white' : null"
          >
            {{ cat | titlecase }}
          </span>
        </mat-list-item>
        }
      </mat-nav-list>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="bg-gray-100 p-6 h-full">
    <h1 class="text-2xl font-bold text-gray-900 mb-1">
      {{ store.category() | titlecase }}
    </h1>

    <p class="text-base text-gray-600 mb-6">{{ store.filteredProducts().length }} products found</p>

    <div class="responsive-grid">
      @for (product of store.filteredProducts(); track product.id) {

      <app-product-card [product]="product" (addToCartClicked)="addToCart($event)">
        <app-toggle-wishlist-button [product]="product" />
      </app-product-card>

      }
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
